<div class="container">

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1728314853877903'); 
  fbq('track', 'PageView');
  </script>
  <noscript>
  <img height="1" width="1" 
  src="https://www.facebook.com/tr?id=1728314853877903&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div id="logo">
        {% include 'includes/logo' %}
      </div>
      <a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="col-sm-9 hidden-xs">
      {% include 'includes/nav' %}
    </div>
  </div>
</div>
